/* Universal selector properties*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body background color */
body {
    background-color: #d9dcd6;
}

/* Header properties*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Web Logo*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Changed color for accesibility */
.header h1 .seo {
    color:gold
}

/* Navigation tab with links to sections*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* unnorganize list */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Links to each section */
nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Text for the navigation*/
nav p {
    font-size: 16px;
}

/* Main image for the webpage*/
.marketing-meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*  placeholder for the main content of the page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* properties for the Services provided by Heseon*/
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* properties for the images of the services*/ 
.services img {
    max-height: 200px;
}

/* Properties for the services headers*/
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Position of the Images for the main content to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Position of the Images for the main content to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Aside articles for the benefits provided by Heseon*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Article properties for the benefits*/
.benefits article{
    margin-bottom: 32px;
    color: #ffffff;
}

/* Properties for h3 of the benefits*/
.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

/* Properties for the images of the benefits*/
.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer properties*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Fotters properties for the header*/
.footer h4 {
    font-size: 20px;
}
